pipeline/pl_validation_csv_filestructure.json
{
	"name": "pl_validation_csv_filestructure",
	"properties": {
		"activities": [
			{
				"name": "fil_on_dataset",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "lkp_conf_validation_schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_conf_validation_schema').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().source_name, pipeline().parameters.pp_filename)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_src_file_meta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv",
						"type": "DatasetReference",
						"parameters": {
							"filepath": "/0-landing/",
							"filename": "taxizones/taxi+_zone_lookup.csv"
						}
					},
					"fieldList": [
						"columnCount",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "if_schema_validation",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_src_file_meta",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "fil_on_dataset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(activity('get_src_file_meta').output.structure),string(activity('fil_on_dataset').output.value[0].schema))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "testing_var",
								"value": {
									"value": "@string(activity('get_src_file_meta').output.columnCount)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "execute_pl_ingestion_csv",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ingestion_csv_to_bronze",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"filepath": {
										"value": "@pipeline().parameters.pp_filepath",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.pp_filename",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "lkp_conf_validation_schema",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json",
						"type": "DatasetReference",
						"parameters": {
							"filepath": "/2-silver/validation/",
							"filename": "schema_validation_param.json"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pp_filepath": {
				"type": "string",
				"defaultValue": "/0-landing/taxizones/"
			},
			"pp_filename": {
				"type": "string",
				"defaultValue": "taxi+_zone_lookup.csv"
			}
		},
		"variables": {
			"testing_var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}