pipeline/pl_validation_csv_filestructure.json
{
	"name": "pl_validation_csv_filestructure",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_csv",
						"type": "DatasetReference",
						"parameters": {
							"filepath": "/2-silver/validation/",
							"filename": "schema_validation_param.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@pipeline().parameters.pp_filename == activity('Lookup1').output.value[1]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_filepath": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}