taxinycdf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "taxinycdf"
		},
		"ADLSGen2_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLSGen2_ls'"
		},
		"ADLSGen2_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://terraformazurezurich1.dfs.core.windows.net/"
		},
		"tr_on_file_upload_to_landing_properties_pl_csv_to_parquet_ingestion_template_parameters_filepath": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"tr_on_file_upload_to_landing_properties_pl_csv_to_parquet_ingestion_template_parameters_filename": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"tr_on_file_upload_to_landing_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/914e6dc1-4708-45e0-8c9e-b29c1b4faec8/resourceGroups/rg-terraform/providers/Microsoft.Storage/storageAccounts/terraformazurezurich1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_csv_to_parquet_ingestion_template')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_from_landing_to_bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "tec_src_filename",
										"value": "$$FILENAME"
									},
									{
										"name": "tec_bronze_ingestion_dt",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_csv",
								"type": "DatasetReference",
								"parameters": {
									"filepath": {
										"value": "@pipeline().parameters.filepath",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parquet",
								"type": "DatasetReference",
								"parameters": {
									"containername": "1-bronze",
									"filepath": {
										"value": "@concat(pipeline().parameters.filepath, '/' , formatDateTime(pipeline().TriggerTime,'yyyy') , '/', formatDateTime(pipeline().TriggerTime,'MM'), '/',formatDateTime(pipeline().TriggerTime,'dd'))",
										"type": "Expression"
									},
									"filename": {
										"value": "@concat(pipeline().parameters.filepath, '_', formatDateTime(pipeline().TriggerTime,'hh:mm:ss tt'), '.parquet')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"filepath": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-21T17:51:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_validation_csv_filestructure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_conf_validation_schema",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_csv",
								"type": "DatasetReference",
								"parameters": {
									"filepath": "/2-silver/validation/",
									"filename": "schema_validation_param.csv"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "fil_on_dataset",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "lkp_conf_validation_schema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_conf_validation_schema').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().source_name, 'taxizones' )",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_src_file_meta",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv",
								"type": "DatasetReference",
								"parameters": {
									"filepath": "/0-landing/",
									"filename": "taxizones/taxi+_zone_lookup.csv"
								}
							},
							"fieldList": [
								"columnCount",
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "if_schema_validation",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "get_src_file_meta",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "fil_on_dataset",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('get_src_file_meta').output.columnCount,activity('fil_on_dataset').output.column_count.value)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "execute_pl_ingestion_csv",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_csv_to_parquet_ingestion_template",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"filepath": {
												"value": "pipeline.parameters.pp_filepath",
												"type": "Expression"
											},
											"filename": {
												"value": "pipeline.parameters.pp_filename",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pp_filepath": {
						"type": "string",
						"defaultValue": "/0-landing/taxizones/"
					},
					"pp_filename": {
						"type": "string",
						"defaultValue": "taxi+_zone_lookup.csv"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv')]",
				"[concat(variables('factoryId'), '/pipelines/pl_csv_to_parquet_ingestion_template')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filepath": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filepath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSGen2_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containername": {
						"type": "string",
						"defaultValue": "1-bronze"
					},
					"filepath": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filepath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containername",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLSGen2_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service to ADLSGen2 \"terraformazzurich1\" Storage Account",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLSGen2_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLSGen2_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_on_file_upload_to_landing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_csv_to_parquet_ingestion_template",
							"type": "PipelineReference"
						},
						"parameters": {
							"filepath": "[parameters('tr_on_file_upload_to_landing_properties_pl_csv_to_parquet_ingestion_template_parameters_filepath')]",
							"filename": "[parameters('tr_on_file_upload_to_landing_properties_pl_csv_to_parquet_ingestion_template_parameters_filename')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/0-landing/blobs/taxi",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('tr_on_file_upload_to_landing_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_csv_to_parquet_ingestion_template')]"
			]
		}
	]
}